<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginUsr</display-name>
    <servlet-name>LoginUsr</servlet-name>
    <servlet-class>misservlets.practica2.LoginUsr</servlet-class>
    <init-param>
      <param-name>userNames</param-name>
      <param-value>usuario1,usuario2,usuario3</param-value>
    </init-param>
    <init-param>
      <param-name>passwords</param-name>
      <param-value>contrasenia1,contrasenia2,contrasenia3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsr</servlet-name>
    <url-pattern>/LoginUsr</url-pattern>
  </servlet-mapping>
  <display-name>practica2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Productos</display-name>
    <servlet-name>Productos</servlet-name>
    <servlet-class>misservlets.practica2.Productos</servlet-class>
    <init-param>
      <param-name>nombres</param-name>
      <param-value>caramelo,chupetin,chocolate,chicle,alfajor,gomitas</param-value>
    </init-param>
    <init-param>
      <param-name>precios</param-name>
      <param-value>2.5,3,5,1.75,4.25,4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Productos</servlet-name>
    <url-pattern>/Productos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Facturar</display-name>
    <servlet-name>Facturar</servlet-name>
    <servlet-class>misservlets.practica2.Facturar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facturar</servlet-name>
    <url-pattern>/Facturar</url-pattern>
  </servlet-mapping>
</web-app>